<nav class="breadcrumb-container sfondo" aria-label="Percorso di navigazione">
    <ol class="breadcrumb text-white">
        <li class="breadcrumb-item text-white">
            <svg class="icon icon-sm icon-secondary align-top me-1" aria-hidden="true">
                <use href="#it-link" fill="white"></use>
            </svg>
            <a href="/homeaccesso" class="text-white">Home</a>
            <span class="separator text-light">/</span>
        </li>
        <li class="breadcrumb-item text-white">
            <svg class="icon icon-sm icon-secondary align-top me-1" aria-hidden="true">
                <use href="#it-link" fill="white"></use>
            </svg>
            <a href="/elenco" class="text-white">Elenco</a>
            <span class="separator text-light">/</span>
        </li>

        <li class="breadcrumb-item active text-white" aria-current="page">
            <svg class="icon icon-sm icon-secondary align-top me-1" aria-hidden="true">
                <use href="#it-link" fill="white"></use>
            </svg>
            Ispeziona
        </li>
    </ol>
</nav>
