.it-hero-wrapper {
    position: relative;
    background-image: url('https://img.freepik.com/free-photo/grey-gradient-abstract_176532-7758.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1713830400&semt=ais');
    background-size: cover;
    background-position: center;
    height: 300px; /* Regola l'altezza dell'elemento secondo necessità */
  }
  
  .img-responsive-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .container {
    background-color: rgba(17, 33, 17, 0.498);
    padding: 20px; /* Aggiungi spaziatura interna per la leggibilità */
  }
  
  label{
    color: white;
  }