.sfondo {
    background-color: #00402b; 
   /*  background-color: color #00402b; */
    padding: 1px; /* Aggiungi spaziatura interna per la leggibilità */
  }

  .breadcrumb.text-white .breadcrumb-item,
  .breadcrumb.text-white .breadcrumb-item.active {
    color: white !important;
  }
  