<app-header></app-header>

<section class="it-hero-wrapper it-dark it-overlay">
    <!-- - img-->
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
          <div class="img-wrapper"><img src="https://i.pinimg.com/736x/35/d6/99/35d6995038a7b36fb863419c91517e33.jpg" title="titolo immagine" alt="descrizione immagine"></div>
      </div>
    </div>
    <!-- - texts-->
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
                <span class="it-Categoria">Portale CONSAP</span>
                <h2>Benvenuto nel portale delle richieste CONSAP</h2>
                
                <p class="d-none d-lg-block">Questo portale consente di gestire le richieste CONSAP</p>
                <!-- <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/login"
                    >Accedi</a></div> -->
            </div>
          </div>
      </div>
    </div>
  </section>



