<app-header></app-header>


<section class="it-hero-wrapper it-dark it-overlay">
    <!-- - img-->
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
          <div class="img-wrapper"><img src="https://i.pinimg.com/736x/35/d6/99/35d6995038a7b36fb863419c91517e33.jpg" title="titolo immagine" alt="descrizione immagine"></div>
          
      </div>
    </div>
    <!-- - texts-->
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
                <span class="it-Categoria">Portale CONSAP</span>
                <h2>Benvenuto nel portale delle richieste CONSAP</h2>
                
                <p class="d-none d-lg-block">Questo portale consente di gestire le richieste CONSAP</p>
                <!-- <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/login"
                    >Accedi</a></div> -->
            </div>
          </div>
      </div>

      





    </div>

    



  </section>
 
<div class="row">

  <div class="col-12 col-lg-6">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big no-after">
        <div class="card-body">
          <div class="head-tags">
          <!--   <a class="card-tag" href="#">Tag</a> -->
            <span class="data">{{ currentDate | date: 'dd/MM/yyyy' }}</span>
          </div>
          <h3 class="card-title h5 ">Fondo di Garanzia per le Vittime della Strada (FGVS)</h3>
          <p class="card-text font-serif">Il Fondo di Garanzia per le Vittime della strada (FGVS) è gestito da Consap ed è stato istituito
             per il risarcimento dei danni conseguenti ad incidenti stradali causati, 
             nella maggior parte dei casi, da veicoli non identificati, non assicurati,
              posti in circolazione contro la volontà del proprietario o assicurati con imprese poste in liquidazione coatta. 
              L’istruttoria e la liquidazione dei danni sono effettuate dalle Imprese Assicurative designate dall’IVASS.</p>
          <div class="it-card-footer">
            <span class="card-signature">di Federico De Paolis</span>
            <a class="btn btn-outline-primary btn-sm" href="https://www.consap.it/fondo-di-garanzia-per-le-vittime-della-strada/">Leggi tutto <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span></a>
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  
  

  <div class="col-12 col-lg-6">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big no-after">
        <div class="card-body">
          <div class="head-tags">
           <!--  <a class="card-tag" href="#">Tag</a> -->
            <span class="data">{{ currentDate | date: 'dd/MM/yyyy' }}</span>
          </div>
          <h3 class="card-title h5 ">Fondo di Garanzia Mutui Prima Casa</h3>
          <p class="card-text font-serif">Il Fondo di garanzia Mutui per la prima casa, c.d. Fondo prima casa, è stato istituito presso il Ministero dell’Economia e delle Finanze con la legge 27 dicembre 2013, n. 147, art. 1 comma 48, lett. c).

            Il Fondo agevola il rapporto tra il cittadino e la banca offrendo una garanzia pubblica, sul mutuo per l'acquisto della prima casa.
            
            Consap si occupa dell'esame delle domande trasmesse telematicamente dai soggetti finanziatori per la verifica dei requisiti di accesso alla garanzia del Fondo.</p>
          <div class="it-card-footer">
            <span class="card-signature">di Mario Camini</span>
            <a class="btn btn-outline-primary btn-sm" href="https://www.gazzettaufficiale.it/eli/id/2013/12/27/13G00191/sg">Gazzetta Ufficiale<span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span></a>
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  


  <div class="col-12 col-lg-6">
    <!--start card-->
    <div class="card-wrapper">
      <div class="card card-img no-after">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <figure class="img-wrapper">
              <img src="https://www.consap.it/media/50hbxtgs/consap_artwork_2.jpg" title="titolo immagine" alt="descrizione immagine">
            </figure>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title h5 ">30 anni di Consap - Assicuriamo agli italiani un futuro migliore</h3>
          <p class="card-text font-serif"></p>
          <a class="read-more" href="https://www.consap.it/30-anni-di-consap/">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <svg class="icon"><use href="#it-arrow-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  

  

  <div class="col-12 col-lg-6">
    <!--start card-->
    <div class="card-wrapper">
      <div class="card card-img no-after">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <figure class="img-wrapper">
              <img src="https://www.consap.it/media/gmzp00sp/stakeholder_icone_infografica_foto_a.jpg?width=795&height=310&mode=max" title="titolo immagine" alt="descrizione immagine">
            </figure>
            <div class="card-calendar d-flex flex-column justify-content-center">
              <span class="card-date">{{ currentDate | date: 'dd' }}</span>
              <span class="card-day">{{ currentDate | date: 'MMMM' }}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title h5 ">SERVIZI DI SOSTEGNO E SOLIDARIETÀ</h3>
          <p class="card-text font-serif"></p>
            <a class="read-more" href="https://www.consap.it/Banche">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <svg class="icon"><use href="#it-arrow-right"></use></svg></a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  



</div>

