 <app-headeraccesso></app-headeraccesso> 
<!-- home-accesso.component.html -->
<!-- <app-breadcrumbs [breadcrumbNames]="['Home']"></app-breadcrumbs> -->
<app-percorso [breadcrumbNames]="['Home']"></app-percorso>



<section class="it-hero-wrapper it-dark it-overlay">
    <!-- - img-->
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
          <div class="img-wrapper"><img src="https://i.pinimg.com/736x/35/d6/99/35d6995038a7b36fb863419c91517e33.jpg" title="titolo immagine" alt="descrizione immagine"></div>
      </div>
    </div>
    <!-- - texts-->
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
                <span class="it-Categoria">Portale CONSAP</span>
                <h2>Bentornato nel portale CONSAP</h2>
                
                <p class="d-none d-lg-block">Da questo momento potrai gestire le richieste CONSAP</p>
                <!-- <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/login"
                    >Accedi</a></div> -->
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <!--start card-->
          <div class="card-wrapper card-space carta">
            <div class="card card-bg">
              <div class="card-body">
                <div class="top-icon">
                  <svg class="icon"><use href="#it-link"></use></svg>
                </div>
                <h3 class="card-title h5 ">Sito ufficiale di Consap</h3>
                <p class="card-text font-serif">Navigando sul sito ufficiale Consap potrai verificare tutti gli aggiornamenti dell'ente</p>
                <a class="read-more" href="https://www.consap.it/">
                  <span class="text">Vai al sito</span>
                  <span class="visually-hidden"></span>
                  <svg class="icon"><use href="#it-arrow-right"></use></svg>
                </a>
              </div>
            </div>
          </div>
          <!--end card-->
        </div>
      </div>
    </div>
  </section>
