<app-headeraccesso></app-headeraccesso>

<app-breadcrumbsispeziona></app-breadcrumbsispeziona>
<section class="it-hero-wrapper it-dark it-overlay">
    <!-- Immagine sfondo-->
    <div class="img-responsive-wrapper">
        <div class="img-responsive">
            <div class="img-wrapper">
                
            </div>
        </div>
    </div>
    

    <!-- Contenuto -->
    <div class="container text-white">
        <!-- Prima Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="numeroTicket">Numero Ticket</label>
                <input type="text" class="form-control" id="numeroTicket" [value]="richiestaShow?.numeroTicket" readonly>
            </div>
            
            <div class="col-md-6">
                <label for="oggetto">Oggetto</label>
                <input type="text" class="form-control" id="oggetto" 
                [value]="richiestaShow?.oggetto"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="applicativo">Applicativo</label>
                <input type="text" class="form-control" id="applicativo"
                       [value]="richiestaShow?.applicativo ? richiestaShow.applicativo.descApplicativo : '-'" readonly>
            </div>
            
        </div>
        <!-- 2a Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="statoRichiestaConsap">Stato Richiesta CONSAP</label>
                <input type="text" class="form-control" id="statoRichiestaConsap"
                [value]="richiestaShow?.statoRichiestaConsap ? richiestaShow.statoRichiestaConsap.descStatoRichiestaConsap : '-'"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="statoRichiestaOs">Stato Richiesta OS</label>
                <input type="text" class="form-control" id="statoRichiestaOs"
                [value]="richiestaShow?.statoRichiestaOs ? richiestaShow.statoRichiestaOs.descStatoRichiestaOs : '-'"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="statoApprovazioneConsap">Stato Approvazione CONSAP</label>
                <input type="text" class="form-control" id="statoApprovazioneConsap" 
                [value]="richiestaShow?.statoApprovazioneConsap ? richiestaShow.statoApprovazioneConsap.descStatoApprovazioneConsap : '-'"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="statoApprovazioneOs">Stato Approvazione OS</label>
                <input type="text" class="form-control" id="statoApprovazioneOs" 
                [value]="richiestaShow?.statoApprovazioneOs ? richiestaShow.statoApprovazioneOs.descStatoApprovazioneOs : '-'"
                readonly>
            </div>
        </div>
        <!-- 3a Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="dataCreazione">Data Creazione</label>
                <input type="date" class="form-control" id="dataCreazione"
                [value]="richiestaShow?.dataCreazione"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="dataStimaFinale">Data Stima Fine</label>
                <input type="date" class="form-control" id="dataStimaFinale"
                [value]="richiestaShow?.dataStimaFinale ? richiestaShow.dataStimaFinale : '-'"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="commessaOs">Commessa OS</label>
                <input type="text" class="form-control" id="commessaOs"
                [value]="richiestaShow?.commessaOs ? richiestaShow.commessaOs.descCommessaOs : '-'"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="importo">Importo</label>
                <input type="text" class="form-control" id="importo"
                [value]="richiestaShow?.importo ? richiestaShow.importo : '0'"
                readonly>
            </div>
        </div>
        
        <!-- <div class="btn-container">
            <div class="btn-example">
              <button type="button" class="btn btn-secondary">Stampa</button>
            </div>
          </div> -->

        <br>  
    <table class="table table-success table-borderless">
        <thead>
          <tr class="argomento">
            
            <th scope="col">Dato del:</th>
            <th scope="col">Ispeziona</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let storia of richiesta">
            
            <td>{{ storia.dataInserimento | date:'dd-MM-yyyy - HH:mm' }}</td>
            <td>
                <a style="margin-right: 25px;" (click)="visualizzaRichiestaStorica(storia)">
                    <svg class="icon icon-sm icon-secondary align-top me-1" aria-hidden="true" style="cursor: pointer;">
                        <use href="#it-zoom-in" fill="black"></use>
                    </svg>
                </a>
                
                <!-- <a href="/modifica" style="margin-right: 25px;">
                    <svg class="icon icon-sm icon-secondary align-top me-1" aria-hidden="true">
                        <use href="#it-pencil" fill="black"></use>
                    </svg>
                </a>                 -->
            </td>
            
              
            
          </tr>
          
        </tbody>
      </table>
      <nav class="pagination-wrapper paginazione" aria-label="Esempio di navigazione con page changer">
        <!--Inizio Numero pagine -->
        <ul class="pagination">
          <li class="page-item "><span class="page-link " [style]="{color: 'white'}">Vai a pagina:</span></li>
          <!-- aggiungi una label di input per vai a pagina: -->
          <li>
          <input type="text" class="page-link "  id="numeroPaginaInput" name="numeroPagina" min="1" max="{{pagineTotali}}" value="{{currentPage}}">
        </li>
        <br>
        <li><div class="btn-container ">
          <div class="btn-example">
            
            <button type="button" class="btn btn-primary" (click)="prendiNumeroPaginaInput()">Vai</button>
          </div>
  
        </div></li>
          
  
          <li class="page-item"><span class="page-link testoNero" [style]="{color: 'white'}">Pagina: {{currentPage}}/{{pagineTotali}}</span></li>
          <li class="page-item">
            
            <a class="page-link" (click)="paginaPrecedente()">
                <svg class="icon icon-primary cursore" (click)="paginaPrecedente()">
                    <use href="#it-chevron-left" ></use>
                </svg>
                <span class="visually-hidden">Pagina precedente</span>
            </a>
        </li>
        
          <!-- Pagina Iniziale -->
          <!-- <li class="page-item"><a class="page-link testoNero cursore" value="1" (click)="prendiNumeroPagina($event)" >1</a></li> -->
          
          
          <!-- prendi pagina successiva -->
  
          <li class="page-item"><a class="page-link testoNero cursore"[style]="{color: 'white'}">{{currentPage}}</a></li>
          <!-- <li class="page-item"><a class="page-link testoNero cursore" value="2" (click)="prendiNumeroPagina($event)">{{currentPage}}</a></li> -->
          
          <!-- ultima pagina -->
          <!-- <li class="page-item">
            <a class="page-link testoNero cursore" [attr.value]="pagineTotali" (click)="prendiNumeroPagina($event)">
                {{pagineTotali}}
            </a>
          </li> -->
        
          <li class="page-item">
            <!-- <a class="page-link" > -->
            <a class="page-link" (click)="paginaSuccessiva()">
              <span class="visually-hidden" >Pagina successiva</span>
              <svg class="icon icon-primary cursore" ><use href="#it-chevron-right" ></use></svg>
            </a>
          </li>
        </ul>
        <!-- Fine Numero pagine -->
  
        
      </nav>
    </div>
    
</section>

