<app-headeraccesso></app-headeraccesso>

<app-breadcrumbsmodifica></app-breadcrumbsmodifica>
<section class="it-hero-wrapper it-dark it-overlay">
    <!-- Immagine sfondo-->
    <div class="img-responsive-wrapper">
        <div class="img-responsive">
            <div class="img-wrapper">
                <img src="https://img.freepik.com/free-photo/grey-gradient-abstract_176532-7758.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1713830400&semt=ais"
                    title="titolo immagine" alt="descrizione immagine">
            </div>
        </div>
    </div>

    <!-- Contenuto -->
    <div class="container text-white">
        <!-- Prima Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="numeroTicket">Numero Ticket</label>
                <input type="text" class="form-control" id="numeroTicket" [value]="richiesta?.numeroTicket" readonly>
            </div>
            
            <div class="col-md-6">
                <label for="oggetto">Oggetto</label>
                <input type="text" class="form-control" id="oggetto" 
                [value]="richiesta?.oggetto"
                readonly>
            </div>
            <div class="col-md-3" *ngIf="richiesta && richiesta.applicativo">
                <label for="applicativo">Applicativo</label>
                <input type="text" class="form-control" id="applicativo"
                       [value]="richiesta.applicativo.descApplicativo || '-'"
                       
                       [readonly]="true"
                       [attr.applicativoId]="richiesta.applicativo.applicativoId">
            </div>
            
            
            
            
            
            
        </div>
        <!-- 2a Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="statoRichiestaConsap">Stato Richiesta CONSAP</label>
                
                <select id="statoRichiestaConsap" class="form-control custom-select">
                    <option value="" [disabled]="!condizioneVisibleNullStatoRichiestaConsap">-</option>
                    <ng-container *ngFor="let stato of statoRichiestaConsap">
                        <option [value]="stato.statoRichiestaConsapId" [selected]="richiesta?.statoRichiestaConsap?.statoRichiestaConsapId === stato.statoRichiestaConsapId" [disabled]="!stato.abilitato">
                            {{ stato.descStatoRichiestaConsap }}
                        </option>
                    </ng-container>
                </select>
            </div>
            
            
            <div class="col-md-3">
                <label for="statoRichiestaOs">Stato Richiesta OS</label>
                
                <select id="statoRichiestaOs" class="form-control custom-select">
                    <option value="" [disabled]="!condizioneVisibleNullStatoRichiestaOs">-</option>
                    <ng-container *ngFor="let stato of statoRichiestaOs">
                        <option [value]="stato.statoRichiestaOsId" [selected]="richiesta?.statoRichiestaOs?.statoRichiestaOsId === stato.statoRichiestaOsId"
                        [disabled]="!stato.abilitato">
                            {{ stato.descStatoRichiestaOs }}
                        </option>
                    </ng-container>
                </select>
            </div>


            <div class="col-md-3">
                <label for="statoApprovazioneConsap">Stato Approvazione CONSAP</label>
                
                <select id="statoApprovazioneConsap" class="form-control custom-select">
                    <option value="" [disabled]="!condizioneVisibleNullStatoApprovazioneConsap">-</option>
                    <ng-container *ngFor="let stato of statoApprovazioneConsap">
                        <option [value]="stato.statoApprovazioneConsapId" [selected]="richiesta?.statoApprovazioneConsap?.statoApprovazioneConsapId === stato.statoApprovazioneConsapId"
                        [disabled]="!stato.abilitato">
                            {{ stato.descStatoApprovazioneConsap }}
                        </option>
                    </ng-container>
                </select>
            </div>

            <div class="col-md-3">
                <label for="statoApprovazioneOs">Stato Approvazione OS</label>
                
                <select id="statoApprovazioneOs" class="form-control custom-select">
                    <option value="" [disabled]="!condizioneVisibleNullStatoApprovazioneOs">-</option>
                    <ng-container *ngFor="let stato of statoApprovazioneOs">
                        <option [value]="stato.statoApprovazioneOsId" [selected]="richiesta?.statoApprovazioneOs?.statoApprovazioneOsId === stato.statoApprovazioneOsId"
                        [disabled]="!stato.abilitato">
                            {{ stato.descStatoApprovazioneOs }}
                        </option>
                    </ng-container>
                </select>
            </div>
        </div>
        <!-- 3a Riga -->
        <div class="row">
            <div class="col-md-3">
                <label for="dataCreazione">Data Creazione</label>
                <input type="date" class="form-control" id="dataCreazione"
                [value]="richiesta?.dataCreazione"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="dataStimaFinale">Data Stima Fine</label>
                <input type="date" class="form-control" id="dataStimaFinale"
                [value]="richiesta?.dataStimaFinale ? richiesta.dataStimaFinale : '-'"
                >
            </div>
            <div class="col-md-3">
                <label for="commessaOs">Commessa OS</label>
                <select id="commessaOs" class="form-control custom-select">
                    <option value="">-</option>
                    <ng-container *ngFor="let com of commessaOs">
                        <option [value]="com.commessaOsId" [selected]="richiesta?.commessaOs?.commessaOsId === com.commessaOsId">
                            {{ com.codiceCommessaOs }} - {{ com.descCommessaOs }}
                        </option>
                    </ng-container>
                </select>
            </div>
            
            
            <div class="col-md-3">
                <label for="importo">Importo</label>
                <input type="text" class="form-control" id="importo"
                [value]="richiesta?.importo"
                >
            </div>
        </div>
        <br>
        <div class="btn-container">
            <div class="btn-example">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="openModifica()">Modifica</button>
    
                <!-- Modal Salvataggio-->
                <div class="modal fade" tabindex="-1" role="dialog" id="modalOpenModifica" aria-labelledby="exampleModalTitle">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title h5 " id="exampleModalTitle">Modifica Richiesta</h2>
                            </div>
                            <div class="modal-body">
                                <p>Sei sicuro di voler modificare i dati ?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal" type="button" (click)="closeModifica()">Annulla</button>
                                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal" type="button" (click)="openConferma();editRichiesta()">Conferma</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Conferma-->
                <div class="modal fade" tabindex="-1" role="dialog" id="modalConfermaModifica" aria-labelledby="exampleModalTitle">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title h5 " id="exampleModalTitle">Operazione conclusa</h2>
                            </div>
                            <div class="modal-body">
                                <p>Dati modificati con successo</p>
                                <p>Vuoi continuare o tornare alla lista ?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal" type="button" (click)="closeConferma();reload()">Esci</button>
                                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal" type="button" [routerLink]="'/elenco'">Elenco</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</section>

